body {
    margin-top: 5em;
    overflow-x: hidden;
}

/* https://stackoverflow.com/a/36151222/179729 */
.btn-primary-spacing
{
    margin-right: 5px;
    margin-bottom: 5px !important;
}

/* https://gist.github.com/thunsaker/1188641 */
.ribbon {
    background-color: #a00;
    overflow: hidden;
    position: absolute;
    right: -3em;
    top: 2.5em;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0.5em #444;
}

.twitter-share-button[style] {
    vertical-align: text-bottom !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
